.menu{
    display:flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:200;
    color:white;
}
body{
    margin:0px;
    background-color:hotpink ;

}
.bodyimg{
    position:relative;
}
.bodyimg p{
    color:whitesmoke;
    font-size: 55px;
    font-family:'Times New Roman', Times, serif;
    position:absolute;
    top:10%;
    left:50%;
    transform:translate(-50%,-50%);
}
.bodyimg h3{
    color:whitesmoke;
    font-size: 30px;
    width:1600px;
    font-family:'Times New Roman', Times, serif;
    position:absolute;
    top:40;
    left: 45%;
    transform:translate(-40%,-40%);
}
.grid{
    display:flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.grid img{
    border:2px solid black;
    border: radius 50%; 

}
.Origami{
    border-radius:20px;
    background-color:white;
    padding:20px;
    margin:25px;
    width:310px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:link{
    color:white;
    
}
a:visited{
    color:white;
}
.Origami:hover{
    transform: scale(1.2);
}